@model Blackjack.Models.Deck

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3> Card Dealer</h3>

<p>The current deck id is @Model.deck_id</p>

<p>You have @Model.remaining cards in your deck.</p>

<p>
    <a class="btn btn-default" href="@Url.Action("DrawACard",
                                    new { deck_id = Model.deck_id})">Deal a Card</a>
</p>